{% extends "base.html" %}


{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Play</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div id="plot-spot" class="col-md-8">
        <!-- plot gets rendered here -->
        {{ distribution|safe }}
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-8">
        <form class="form-inline"></form>
        <!-- Iterate through answer_options -->
        {% for option in answer_options %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="user_answer" id="{{ option }}" value="{{ option }}">
                <label class="form-check-label" for="{{ option }}">
                    {{ option }}
                </label>
            </div>
        {% endfor %}
        </form>
    </div>
</div>
{% endblock %}